In [1]:
# Add a list of elements to a set
s = {"Yellow", "Orange", "Black"}
l = ["Blue", "Green", "Red"]
s.update(l)
s

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [3]:
#Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
x=set(set1 & set2)
x

{30, 40, 50}

In [4]:
#Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 | set2

{10, 20, 30, 40, 50, 60, 70}

In [8]:
#Update the first set with items that donâ€™t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
l=list(set2)
set1.difference(set2)

{10, 30}

In [11]:
#Remove items from the set at once
#Write a Python program to remove items 10, 20, 30 from the
#following set at once.
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
set1

{40, 50}

In [22]:
#Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
#set2.difference(set1)

set1.symmetric_difference(set2)

{10, 20, 60, 70}

In [23]:
#Check if two sets have any elements in common.
#If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1 & set2

{10}

In [25]:
#Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

In [27]:
#Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 & set2

{30, 40, 50}